body{
    background-color: black;
    transition: background-image 1s;
    transition-delay: 0.5s;
    background-size: cover;
    margin: 0;
    color: black;
    text-align: center;
    font-family: Krub, sans-serif;
}
header{
    align-self: auto;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 42px;
    color: whitesmoke;
    border-radius: 15px;
    border: 2px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: black;
    width: 35rem;
    font-weight: 900;

}
#display-info{
    color: whitesmoke;
    margin: auto;
    width: 325px;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 1rem;
    transition: 0.5s;
    border-color: white;
    border: 2px;
    border-style: solid;
    opacity: 0;
    transition: .5s;
}
#display-info:hover{
    background-color: whitesmoke;
    color: black;
    border-color: black;      
    z-index: 2;
    transform: scale(1.2);
    transition: .5s;
}

#display-info h1{
    padding-bottom: 1rem;
}
#display-info h4{
    font-size: larger;
    padding: 5px;
}
#input-box{
    height: 40;
    margin-bottom: 1rem;
    z-index: 0;
}
input[type="text"]{
    height: 40px;
    width: 225px;
    border-radius: 15px;
    color: whitesmoke;
    background-color: rgba(0, 0,0, 0.6);
    border-color: white;
    border: 2px;
    border-style: solid;
    transition: 0.3s;
    z-index: 0;
}
input[type="text"]:focus{
    background-color: rgba(0, 0, 0, 1);
    z-index: 0;
}


input[type="button"]{
    width: 100px;
    height: 40px;
    color:white;
    background-color: black;
    border-radius: 25px;
    border-color: black;
    opacity: 1;
    transition: 0.3s;
}
input[type="button"]:hover{
    opacity: 1;
    background-color: white;
    color: black;
    bottom: pointer;
}

div.row{
    justify-content: center;
}

div.col-md{
    margin: auto;
    align-self: center;
    background-color: black;
    border-radius: 15px;
    border: 2px;
    padding: .75rem;
    border-color: whitesmoke;
    border-style: solid;
    margin: 10px;
    color: whitesmoke;
    z-index: 0;
    opacity: 0;
    transition: .5s;
    flex: 0 0 244px;
}
div.col-md h1{
    text-align: center;
    font-size: 30px;
    font-weight: light;
    padding-bottom: 7.5px;
    padding-top: 10px;

}
div.col-md h4{
    text-align: center;
    font-size: medium;
    padding-bottom: 5px;
}
div.col-md:hover{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}