body{
    background-color: black;
    transition: background-image 1s;
    background-size: cover;
    margin: 0;
    color: black;
    text-align: center;
    font-family: Roboto, sans-serif;
}
header{
    align-self: auto;
    margin: auto;
    font-family: Lobster, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 42;
    color: whitesmoke;
    border-radius: 30px;
    border: 2px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: black;
    width: 500;

}
#display-info{
    color: whitesmoke;
    margin: auto;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    border-radius: 50px;
    height: 285px;
    margin-bottom: 30px;
    padding-top: 20px;
    transition: 0.3s;
    border-color: white;
    border: 2px;
    border-style: solid;
    opacity: 0.8;
}
#display-info:hover{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}


#display-info h1{
    transition: opacity 1s;
    padding-bottom: 20px;
}
#display-info h4{
    transition: opacity 1s;
    font-size: larger;
    padding: 5px;
}

#input-box{
    height: 40;
    margin-bottom: 50px;
}
input[type="text"]{
    height: 40;
    width: 200;
    border-radius: 15px;
    color: whitesmoke;
    background-color: black;
    border-color: white;
    border: 2px;
    border-style: solid;
    opacity: 0.6;
    transition: 0.3s;
}
input[type="text"]:focus{
    opacity: 1;
}


input[type="button"]{
    width: 100px;
    height: 40px;
    color:white;
    background-color: black;
    border-radius: 25px;
    border-color: black;
    opacity: 0.6;
    transition: 0.3s;
}
input[type="button"]:hover{
    opacity: 1;
    background-color: white;
    color: black;
}


div.col{
    width: 208px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    border-radius: 30px;
    border: 2px;
    border-color: whitesmoke;
    border-style: solid;
    margin: 10px;
    color: whitesmoke;
    opacity: 0.8;
    z-index: 0;
}
div.col h1{
    font-size: 40px;
    font-weight: light;
    padding-bottom: 15px;
    padding-top: 10px;
}
div.col h4{
    font-size: medium;
    padding-bottom: 10;
}
div.col:hover{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    transition: 0.5s;
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

